* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Helvetica, sans-serif;
	line-height: 1.5;
	background-color: #efefef;
}

article {
	width: 708px;
	margin: 2em auto 2em;
	padding: 2em 30px;
	background-color: #fefefe;
}

h1 {
	font-size: 2em;
	line-height: 1;
	margin: 1em 0;
}

header {
	background-color: #334;
}

#logo {
	/*background-image: url("../images/guitarist.gif");*/
	background-repeat: no-repeat;
	background-position: right bottom;
	background-color: #333344;
	/*text-align: center;*/
	height: 250px;
	width: 768px;
	margin: 0 auto;
}

#logo img {		
	margin-left: 100px;
}

#home #logo {
	background-image: url("../images/guitarist.gif");
}
#about #logo {
	background-image: url("../images/lineup.gif");
}
#photos #logo {
	background-image: url("../images/basshead.gif");
}
#live #logo {
	background-image: url("../images/bassist.gif");
}
#contact #logo {
	background-image: url("../images/drummer.gif");
}

header nav {
	width: 100%;
	min-width: 768px;
	height: 40px;
	background-color: #658;
}

header nav li:first-child {
	margin: 0 0 0 25%;
	border-left: solid 1px #86c;
}

header nav li {
	list-style: none;
	float: left;
	height: 40px;
	width: 10%;
	max-width: 200px;
	line-height: 40px;
	text-align: center;
	border-right: solid 1px #86c;
}

header nav a {
	/*text-align: center;*/
	display: block;
	color: #eee;
	font-size: 1.1em;
	text-decoration: none;
	letter-spacing: .1em;
}

header nav a:hover {
	background-color: #87b;
}w

header nav a:active {
	background-color: #87b;	
}

header nav a.here {
	background-color: #87a;
}

footer {
	width: 100%;
	height: 150px;
	background-color: #282828;
	position: relative;
}

#icon {
	width: 40px;
	/*position: absolute;*/
	/*top: 9px;*/
	/*left: 100px;*/
	/*border: solid 1px #aaa;*/
	/*border-radius: 45px;*/
	padding: 25px;
	margin: 4px 0 4px 2em;
}

#footerblock {
	width: 40em;
	height: 100px;
	background-color: #282828;
	position: absolute;
	left: 30%;
	top: 25px;
}

#footertext {
	/*position: absolute;*/
	/*top: 30px;*/
	/*left: 35%;*/
	/*float: left;*/
	display: inline;
	height: 100px;
	background-color: #282828;
	color: #eee;
	line-height: 2;
	width: 200px;
	margin: 0 1em;
	line-height: 100px;
	vertical-align: text-bottom;
}

#footertext h2 {
	display: inline;
	font: normal 1.05em Arial;
	margin-top: 10%; 
}
#footertext span {
	margin: 0 1em;
}

/* home */

#home article {
	position: relative;
	height: 270px;
}

#intro {
	position: absolute;
	top: 150px;
	left: 230px;
	right: 30px;
	font-size: 1.1em;
}

#intro a {
	color: #4455aa;
	font: italic 1.15em Helvetica, sans-serif;
}

#slideshow {
	width: 150px;
	height: 150px;
	position: absolute;
	top: 130px;
	left: 50px;
	overflow: hidden;
	border-radius: 19px;
}
#preview {
	position: absolute;
}

/* about */

#about article nav li {
	list-style: none;
	/*border-left: solid 4px #558; */
	padding: 2px 5px;
}

#about article nav li a:link, #about article nav li a:active, #about article nav li a:visited {
	text-decoration: underline;
	color: #333;
	font: normal 1.2em Helvetica, sans-serif;
}

#about article nav li a:hover {
	color: #111;
	font-weight: bold;
}

#about article h2 {
	/*margin: 1em 0;*/
	background-color: #F0F1F4;
	padding: .3em;
	color: #333;
}

#about article section {
	border: solid 2px #eee;
	/*padding: 1em;*/
	margin: 1em 0;
}

#about article section p {
	margin: 1em .5em;
	text-indent: 2em;
}

/* photos */

#photos #imagegallery {
	background-color: #f3f3f3;
	width: 481px;
	padding: 10px 10px 5px;
	word-spacing: -5px;
	border: solid 4px #fafafa;
	border-radius: 3px;
	margin: 1em;
}

#photos #description {
	display: block;
	margin: .3em 1em .8em;
	height: 2em;
	background-color: #445;
	color: #eee;
	width: 15em;
	text-align: center;
	border-radius: 1em;
	font: lighter 1.2em/2em Helvetica;
}

#photos #placeholder {
	margin: 0 10px;
}

#photos #imagegallery li {
	display: inline-block;
	margin: 0 10px;
	/*border-radius: 5px;*/
}
 
#photos #imagegallery img {
	border-radius: 7px;
}

/* live */

#live table {
	border-collapse: collapse;
	margin: 0 1em;
}

#live table td, #live table th {
	border: solid 1px #ddd;
	padding: .5em 1em;
}

#live table tr {
	background-color: #fafafa;
}

#live table th {
	background-color: #749;
	border: solid 1px #849;
	color: #eee;
}

#live table tr.odd {
	background-color: #eee;
}

/* contact */

#contact fieldset {
	border: solid 1px #eee;
	background-color: #fcfcfc;
	width: 30em;
	padding: 2em;
	border-radius: 7px;
	color: #333;
}

#contact label {
	display: block;
	font: 1em/1.5 Helvetica, sans-serif;
	color: #555;
}

#contact input {
	background-color: #f1f1f1;
	border: solid 1px #ccc;
	/*outline: solid 1px #ccc;*/
	/*border: none;*/
	border-radius: 0.3em;
	padding: .3em;
	font-size: 1.1em;
	line-height: 1.4em;
	width: 15em;
	height: 1.4em;
}
#contact input:focus {
	border: solid 1px #3297D4;
	/*outline: solid 1px #3297d4;*/
	/*border: none;*/
	outline: none;
	padding: .3em;
	font-size: 1.1em;
	line-height: 1.4em;
	width: 15em;
	height: 1.4em;
	background-color: #fefefe;
}
#contact form p {
	min-height: 5em;
}
#contact form textarea {
	width: 25em;
	height: 12em;
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
	padding: .5em;
	border-radius: 5px;
	border: solid 1px #ccc;
	background-color: #f1f1f1;
}
#contact form textarea:focus {
	background-color: #fefefe;
	outline: none;
	border: solid 1px #3297D4;
}
#contact form input[type="submit"] {
	height: 2.3em;
	margin: .5em;
	width: 8em;
	border: none;
	background-color: #769;
	color: #eee;
	font: 1.2em/2.3em Arial, sans-serif;
	padding: 0;
	cursor: pointer;
}

#contact form input[type="submit"]:hover, #contact form input[type="submit"]:active {
	background-color: #548;
}